<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
    <Script file="Settings.lua"/>
    <Script file="locale.lua"/>
    <Script file="Setting.lua"/>
    <Script file="Group.lua"/>
    <Script file="widgets.lua"/>
    <Include file="widgets.xml"/>
    <Script file="GeneralSettings.lua"/>
    <Script file="BetaFeatures.lua"/>
    <Script file="QuickSettings.lua"/>
    <Script file="SettingsTab.lua"/>
    <!--@do-not-package@-->
    <Script file="DebugSettings.lua"/>
    <!--@end-do-not-package@-->

    <Frame name="Vendor_SettingsTab" virtual="true" hidden="true">
        <Frames>
            <Frame parentKey="settings" inherits="CommonUI_CategoryList">
                <KeyValues>
                    <KeyValue key="OnSelection" value="ShowSettings"/>
                </KeyValues>
                <Size x="224" y="1"/>
                <Anchors>
                    <Anchor point="TOPLEFT"/>
                    <Anchor point="BOTTOMLEFT"/>
                </Anchors>
            </Frame>
            <Frame parentKey="host" hidden="true">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeKey="$parent.settings" relativePoint="TOPRIGHT" x="12"/>
                    <Anchor point="BOTTOMRIGHT"/>
                </Anchors>
            </Frame>
        </Frames>
    </Frame>

</Ui>