<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
    <Script file="features/settings/Settings.lua"/>
    <Script file="features/settings/Setting.lua"/>
    <Script file="features/settings/Group.lua"/>
    <Script file="features/settings/widgets.lua"/>
    <Include file="features/settings/widgets.xml"/>
    <Script file="features/settings/GeneralSettings.lua"/>
    <Script file="features/settings/QuickSettings.lua"/>
    <!--@do-not-package@-->
    <Script file="features/settings/DebugSettings.lua"/>
    <!--@end-do-not-package@-->
</Ui>