<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">

    <Button virtual="true" name="Adibags_RuleItem">
        <Size x="1" y="20"/>
        <Layers>
            <Layer level="BACKGROUND">
                <Texture setAllPoints="true" parentKey="backdrop"/>
            </Layer>
            <Layer level="ARTWORK">
                <FontString parentKey="ruleType" justifyH="RIGHT" justifyV="MIDDLE" maxLines="1" inherits="GameFontNormal">
                    <Size x="60"/>
                    <KeyValues>
                        <KeyValue key="Color" value="SECONDARY_TEXT"/>
                    </KeyValues>
                    <Anchors>
                        <Anchor point="TOP"/>
                        <Anchor point="BOTTOM"/>
                        <Anchor point="RIGHT" x="-8"/>
                    </Anchors>
                </FontString>

                <FontString parentKey="text" justifyH="LEFT" justifyV="MIDDLE" maxLines="1" inherits="GameFontNormal">
                    <KeyValues>
                        <KeyValue key="Color" value="TEXT"/>
                    </KeyValues>
                    <Anchors>
                        <Anchor point="TOP"/>
                        <Anchor point="BOTTOM"/>
                        <Anchor point="LEFT" x="24"/>
                        <Anchor point="RIGHT" x="-8" relativeKey="$parent.ruleType" relativePoint="LEFT"/>
                    </Anchors>
                </FontString>
            </Layer>
            <Layer level="OVERLAY">
                <Texture parentKey="check" file="Interface\Addons\Vendor\assets\Check">
                    <Size x="16" y="16"/>
                    <Anchors>
                        <Anchor point="TOPLEFT" x="2" y="-2"/>
                    </Anchors>
                </Texture>
            </Layer>
        </Layers>
    </Button>

    <Frame virtual="true" name="Adibags_Settings" hidden="true">
        <Layers>
            <Layer level="ARTWORK">
                <FontString parentArray="stack" justifyH="LEFT" justifyV="TOP" wordWrap="true" inherits="GameFontNormal">
                    <KeyValues>
                        <KeyValue key="LocText" value="ADIBAGS_HELP_TEXT"/>
                        <KeyValue key="Color" value="SECONDARY_TEXT"/>
                    </KeyValues>
                </FontString>
            </Layer>
        </Layers>
        <Frames>
            <Button parentKey="enableFilter" inherits="CommonUI_CommandButton">
                <KeyValues>
                    <KeyValue key="Label" value="ADIBAGS_ENABLE"/>
                    <KeyValue key="Handler" value="OnEnableFilter"/>
                </KeyValues>
                <Anchors>
                    <Anchor point="BOTTOMRIGHT"/>
                </Anchors>
            </Button>
            <Button parentKey="disableFilter" inherits="CommonUI_CommandButton">
                <KeyValues>
                    <KeyValue key="Label" value="ADIBAGS_DISABLE"/>
                    <KeyValue key="Handler" value="OnDisableFilter"/>
                </KeyValues>
                <Anchors>
                    <Anchor point="BOTTOMRIGHT" relativeKey="$parent.enableFilter" relativePoint="BOTTOMLEFT" x="-12" y="0"/>
                </Anchors>
            </Button>
            <Frame inherits="CommonUI_List" parentKey="rules">
                <Size x="1" y="300"/>
                <KeyValues>
                    <KeyValue key="ItemSource" value="GetRules"/>
                    <KeyValue key="OnSelection" value="OnSelection"/>
                    <KeyValue key="ItemTemplate" value="Adibags_RuleItem"/>
                    <KeyValue key="ItemClass" value="Features.Adibags.SettingsRuleItem"/>
                </KeyValues>
                <Anchors>
                    <Anchor point="BOTTOMRIGHT" relativeKey="$parent.enableFilter" relativePoint="TOPRIGHT" y="12"/>
                    <Anchor point="LEFT"/>
                </Anchors>
            </Frame>
        </Frames>
    </Frame>
</Ui>